@using SCSC.AdminWeb.Models.Elfs
@model IndexViewModel
@{
    ViewData["Title"] = "Elfs Management";
}

<h2>Elfs Management</h2>
<br />
<form class="border">
    <div class="form-row m-2">
        <div class="form-group col">
            <label for="filterFirstName">Elf Name</label>
            <input type="text" class="form-control" id="filterName" name="filterName" placeholder="elf name" value="@Model.FilterName">
        </div>
    </div>

    <button type="submit" class="btn btn-primary ml-2 mb-2">Search</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Update (UTC)</th>
            <th>Status</th>
            <th>Work Time (UTC)</th>
            <th>Daily<br />Packages</th>
            <th>Daily Prod.<br />(packs/day)</th>
            <th>Last Hour Prod.<br />(packs/hour)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Elfs)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.LastUpdate.ToUniversalTime().ToString(@"dd/MM/yyyy HH:mm:ss")</td>
                <td>
                    @switch (item.Status)
                    {
                        case ElfInfoViewModel.ElfStatus.OutOfOffice:
                            <img src="~/images/ElfStatus-OutOfOffice.png" height=25 data-toggle="tooltip" title="Out of Office"/>
                            break;
                        case ElfInfoViewModel.ElfStatus.Break:
                            <img src="~/images/ElfStatus-Break.png" height=25 data-toggle="tooltip" title="In Break"/>
                            break;
                        case ElfInfoViewModel.ElfStatus.Work:
                            <img src="~/images/ElfStatus-Work.png" height=25 data-toggle="tooltip" title="Working"/>
                            break;
                        default:
                            <img src="~/images/ElfStatus-Unknow.png" height=25 data-toggle="tooltip" title="Unknown"/>
                            break;
                    }
                </td>
                <td>@item.StartWorkTime.ToString(@"hh\:mm") - @item.EndWorkTime.ToString(@"hh\:mm")</td>
                <td>@item.PackagesToday</td>
                <td>@item.DailyProductivity.ToString("##0.00")</td>
                <td>@item.LastHourProductivity.ToString("##0.00")</td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Alerts", "Index","Alerts", new { elfId = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
