@model SCSC.AdminWeb.Models.Alerts.AlertInfoViewModel

@{
    ViewData["Title"] = @Model.AlertName + " Details";
}

<h2 class="align-content-center text-secondary"><img src="~/images/Alert.png" height=50 />&nbsp; Alert Details</h2>
<br />
<div>
    <h3>@Model.AlertName</h3>
    <hr />
    <dl class="row">

        <dt class="col-sm-3">
            Elf ID
        </dt>
        <dd class="col-sm-9">
            @Model.ElfId
        </dd>
        <dt class="col-sm-3">
            Alert Type
        </dt>
        <dd class="col-sm-9">
            @Model.Type.ToString()
        </dd>
        <dt class="col-sm-3">
            Status
        </dt>
        <dd class="col-sm-9">
            @Model.Status
        </dd>
    </dl>

    @if (Model.Type == SCSC.Core.Models.AlertType.Inactivity)
    {
        <dl class="row offset-1 col-sm-10 border">
            <dt class="col-sm-8 offset-2">Inactivity Details</dt>
            <dt class="col-sm-5">
                Alert duration (in seconds)
            </dt>
            <dd class="col-sm-5">
                @Model.InactivityAlertInfo.DurationInSec
            </dd>
            <dt class="col-sm-5">
                Polling time (in seconds)
            </dt>
            <dd class="col-sm-5">
                @Model.InactivityAlertInfo.PollingTimeInSec
            </dd>
            <dt class="col-sm-5">
                Max inactivity time (in minutes)
            </dt>
            <dd class="col-sm-5">
                @Model.InactivityAlertInfo.MaxInactivityTimeInMinutes
            </dd>
            <dt class="col-sm-5">
                Email to notify
            </dt>
            <dd class="col-sm-5">
                @Model.InactivityAlertInfo.EmailToNotify
            </dd>
            <dt class="col-sm-5">
                SMS to notify
            </dt>
            <dd class="col-sm-5">
                @Model.InactivityAlertInfo.SMSToNotify
            </dd>
        </dl>
    }
    @if (Model.Type == SCSC.Core.Models.AlertType.Productivity)
    {
        <dl class="row offset-1 col-sm-10 border">
            <dt class="col-sm-8 offset-2">Productivity Details</dt>
            <dt class="col-sm-5">
                Alert duration (in seconds)
            </dt>
            <dd class="col-sm-5">
                @Model.ProductivityAlertInfo.DurationInSec
            </dd>
            <dt class="col-sm-5">
                Polling time (in seconds)
            </dt>
            <dd class="col-sm-5">
                @Model.ProductivityAlertInfo.PollingTimeInSec
            </dd>
            <dt class="col-sm-5">
                Productivity threshold (packs/hour)
            </dt>
            <dd class="col-sm-5">
                @Model.ProductivityAlertInfo.ProductivityPerHourThreshold
            </dd>
            <dt class="col-sm-5">
                Email to notify
            </dt>
            <dd class="col-sm-5">
                @Model.ProductivityAlertInfo.EmailToNotify
            </dd>
            <dt class="col-sm-5">
                SMS to notify
            </dt>
            <dd class="col-sm-5">
                @Model.ProductivityAlertInfo.SMSToNotify
            </dd>
        </dl>
    }


</div>
<div>
    @Html.ActionLink("Cancel Alert", "Delete", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
